<form (ngSubmit)="addCage()" #addCageForm="ngForm" class="add-cage-form">
    <mat-form-field>
        <mat-label>Cage Number</mat-label>
        <input matInput type="text" name="cageNumber" [(ngModel)]="newCage.cageNumber" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Availability</mat-label>
        <input matInput type="text" name="availability" [(ngModel)]="newCage.availability" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Add Cage</button>
</form>