.add-cage-form, .edit-cage-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

mat-card {
  padding: 20px;
  margin-bottom: 20px;
}

mat-table {
  width: 100%;
  margin-top: 20px;
}

mat-header-cell, mat-cell {
  padding: 8px;
}

button {
  margin-right: 10px;
}

mat-form-field {
  width: 100%;
}

.search-bar-wrapper {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.search-bar-container {
  flex: 1;
}
