<mat-card>
  <form (ngSubmit)="onSubmitEdit()" *ngIf="selectedCage.id" class="edit-cage-form">
    <mat-form-field>
      <mat-label>Cage Number</mat-label>
      <input matInput type="text" name="cageNumber" [(ngModel)]="selectedCage.cageNumber" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Availability</mat-label>
      <input matInput type="text" name="availability" [(ngModel)]="selectedCage.availability" required>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Update</button>
  </form>
</mat-card>
<button (click)="navigateToAddCage()">Add cage</button>

<!-- Search bar -->
<div class="search-bar-wrapper">
  <mat-form-field appearance="outline" class="search-bar-container">
    <mat-label>Search by cage number</mat-label>
    <input matInput [(ngModel)]="searchCageModel.cageNumber" (ngModelChange)="searchCage()"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="search-bar-container">
    <mat-label>Search by availability</mat-label>
    <input matInput [(ngModel)]="searchCageModel.availability" (ngModelChange)="searchCage()">
  </mat-form-field>
</div>


<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="cageNumber">
    <mat-header-cell *matHeaderCellDef> Cage Number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cageNumber}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="availability">
    <mat-header-cell *matHeaderCellDef> Availability </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.availability}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button (click)="editCage(element)">Edit</button>
      <button mat-button color="warn" (click)="deleteCage(element.id)">Delete</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
