.add-health-form, .edit-health-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

mat-card {
  padding: 20px;
  margin-bottom: 20px;
}

mat-table {
  width: 100%;
  margin-top: 20px;
}

mat-header-cell, mat-cell {
  padding: 8px;
}

button {
  margin-right: 10px;
}

.search-bar-container {
  padding: 30px 56px 0px 8px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  > input {
    font-size: 1.1rem;
    outline: none;
    border: none;
    background: inherit;
    min-width: 352px;
  }
}

.search-bar-container {
  margin-bottom: 20px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}