<form (ngSubmit)="addRole()" class="add-role-form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput id="name" [(ngModel)]="newRole.name" name="name" required>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput id="description" [(ngModel)]="newRole.description" name="description" required>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Add Role</button>
  </form>
  