<mat-card>
  <!-- Edit User Form -->
  <form (ngSubmit)="onSubmitEdit()" *ngIf="selectedUser.id" class="edit-user-form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="selectedUser.email" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="selectedUser.password" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput type="text" name="firstName" [(ngModel)]="selectedUser.firstName" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" name="lastName" [(ngModel)]="selectedUser.lastName" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput type="text" name="phoneNumber" [(ngModel)]="selectedUser.phoneNumber" required>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Update</button>
  </form>
</mat-card>

<!-- Search bar -->
<div class="search-bar-wrapper">
  <mat-form-field appearance="outline" class="search-bar-container">
    <mat-label>Search by email</mat-label>
    <input matInput [(ngModel)]="searchUserModel.email" (ngModelChange)="searchUser()" placeholder="Search by email" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="search-bar-container">
    <mat-label>Search by phone number</mat-label>
    <input matInput [(ngModel)]="searchUserModel.phoneNumber" (ngModelChange)="searchUser()" placeholder="Search by phone number" />
  </mat-form-field>
</div>

<button mat-raised-button (click)="navigateToAddUser()">Add user</button>

<!-- User Table -->
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="password">
    <mat-header-cell *matHeaderCellDef> Password </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.password}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button (click)="editUser(element)">Edit</button>
      <button mat-button color="warn" (click)="deleteUser(element.id)">Delete</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-card-subtitle *ngIf="dataSource.data.length === 0">No users found.</mat-card-subtitle>